@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #5BCAD5, #0088A3);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(66, 91, 112, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #2F4673;
    text-align: center;
    text-shadow: 1px 1px 2px #26375a;
}
h2 {
    color: #2F4673;
}
p {
    text-align: justify;
}
